body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Logo{
    width:150px;
}

.Img-container{
    width: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
}

nav{
    background-color:#333;
    display: flex;
    flex-direction: row;
}

.Nav-Container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.Menu{
    display: inline-block;
    margin: 0px;
}

a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}
  
 ul li a:hover {
    background-color: #111;
  }

  .Jumbotron{
      width: 100%;
      height: 600px;
      display: absolute;
  }

  .Hero-container{
      width:100%;
      height:600px;
      background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      color: white;
      font-family: "Poppins", sans-serif;
      font-size: 40px;
      top:0;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .Jumbotron-container{
      position: absolute;
      align-items: center;
  }

  .Call-to-action{
    color: rgb(72, 255, 0);
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    border: none;
    font-size: 0.8em;
    transition: transform 0.3s ease-out;
  }

  .Call-to-action:hover{
      transform: translateX(50px);
      cursor: pointer;
  }

  .Featuring-container{
      
  }
